.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}

.imageContainer {
  position: relative;
  width: 80vw; /* Ajusta el tamaño de la imagen según lo necesites */
  height: auto;
  max-width: 800px; /* Máximo ancho de la imagen */
  max-height: 80vh; /* Máxima altura de la imagen */
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
