.map {
  position: relative; /* Posición relativa para que los elementos absolutamente posicionados sean relativos a este contenedor */
  width: 100%; /* Ancho completo del contenedor */
  height: 400px; /* Altura deseada para el contenedor */
}

.wrapper {
  position: relative; /* Posición relativa para que la imagen absolutamente posicionada sea relativa a este contenedor */
  width: 100%; /* Ancho completo del contenedor */
  height: 100%; /* Altura completa del contenedor */
}

.wrapper__img {
  position: absolute; /* Posiciona la imagen de forma absoluta */
  top: 0; /* Sitúa la imagen en la parte superior del contenedor */
  left: 0; /* Sitúa la imagen en la parte izquierda del contenedor */
  width: auto; /* Ancho automático para mantener las proporciones */
  height: 100%; /* La imagen ocupa todo el alto del contenedor */
}
